# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and OS files
Data/
Backup/
.DS_Store
Notebook/*Copy*
Src/*old*

# Jupyter Notebooks
.ipynb_checkpoints/
Notebook/Untitled*
Notebook/*Learn*
SQL/Untitled*

# Environments and Secrets
.venv/
venv/
env/
.env

# Build and Distribution
dist/
build/
*.egg-info/